body {
    background-color: #4a505c;
    padding: 0;
    margin: 0;
}

#github-image {
    height: 40px;
    filter: invert(1);
    padding-right: 30px;
}

#header-title {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 25px;
}

#render {
    margin-left: auto;
}


#grid-wrapper {
    display: grid;
    grid-template-rows: 7vh 90vh 3vh;
    padding: 0;
    margin: 0;
}

.header {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 1;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3;
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
}

#zig-logo {
    height: 2.5vh;
    padding-right: 11px;
}

#wasm-logo {
    height: 2.3vh;
    padding-left: 11px;
    padding-right: 11px;
}

.split {
    background-color: #f9f9f9;
    grid-row: 2;
    height: 90vh;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    cursor: col-resize;
}

#scene-description {
    height: 100%;
}

#split-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-canvas {
    max-width: 100%;
    max-height: 100%;
}

button {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

button:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}
