body {
    background-color: #4a505c;
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
}

#grid-wrapper {
    display: grid;
    grid-template-rows: 7vh 90vh 3vh;
    padding: 0;
    margin: 0;
}

.header {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    grid-row: 1;
}

#github-image {
    height: 4vh;
    filter: invert(1);
    padding-right: 30px;
}

#header-title {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 3vh;
}

#scene-choices {
    max-height: 5vh;
    margin-left: auto;
    margin-right: 30px;
}

#render {
    max-height: 5vh;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3;
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 2.2vh;
}

#zig-logo {
    height: 2.5vh;
    padding-right: 11px;
}

#wasm-logo {
    height: 2.3vh;
    padding-left: 11px;
    padding-right: 11px;
}

.split {
    background-color: #f9f9f9;
    height: 90vh;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
    cursor: row-resize;
}

#scene-description {
    width: 100%;
    height: 100%;
}

#split-0 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#split-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-canvas {
    max-width: 100%;
    max-height: 100%;
}

button {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #070707;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 2vh;
}

button:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}

/* BEGIN ABOMINATION */

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.select:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.select {
    background-color: #fcfcfd;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 2vh;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 1em;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: 2vh;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
}

select::-ms-expand {
    display: none;
}

.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    min-width: 15ch;
    max-width: 30ch;
    border-radius: 0.25em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 2vh;
    cursor: pointer;
}

.select select,
.select::after {
    grid-area: select;
}

.select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}
